
/*-----------------
Font style added 
------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*--------------------
 Body style is start 
 --------------------*/

body{

    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

header{
    background-color: rgb(45, 37, 160);
}

/*-----------------------
    Nav style is starts 
 -----------------------*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 94px;
    width: 100%;
    
}

.nav-catagory{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-catagory a{
    margin-right: 56px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.login{
    display: flex;
    align-items: center;
}

.login a{

    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 11px 42px;
    border: 44px 168px #E02C6D; 
    
}


/*--------------------------
 Conmebol style  is starts 
---------------------------*/


.sec-conmebol{
    display: flex;
    padding: 50px 150px;
}

.half-div{

    width: 50%;
}
.half-div h1{
    font-size: 64px;
    color: white;
}
.half-div h1:hover{

    text-decoration: 3px underline rgb(141, 141, 143);
    
}
.half-div a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 11px 42px;
    border: 44px 168px #E02C6D;
}

.half-div a:hover{
    border: 3px solid rgb(141, 141, 143);
}

.half-div img{
    width: 556px;
    height: 438px;
    
}
.half-div img:hover{
    border: 3px solid rgb(141, 141, 143);
}

/*--------------------------
 Player style  is starts 
---------------------------*/

.sec-players{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.player{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    /* border: 2px solid blue; */
}

.player img{
    width: 100%;
    /* height: 256px; */
    margin: 0 auto;
}

.player h3{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.player p{
    margin-top: 0px;
    margin-bottom: 18px;
}

.hover-single:hover{
    border: 2px solid rgb(141, 141, 143);
}

.hover-together{
    margin-top: 27px;
}

.hover-together:hover{
    border: 2px solid rgb(141, 141, 143);
}

/* ----------------------------- 
   All highlights is starts  
-------------------------------- */

.highlight-sec{
    background-color: white;
    margin: 60px;
}
.highlight-div h2{
    text-decoration: none;
    font-size: 48px;
    color: #000;
}


/* ----------------------------- 
Upcoming Matches is starts  
-------------------------------- */
.upcoming{
    margin: 70px;
}
.matches{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 230px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(45, 37, 160);
}

.match-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.match-feature img{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.match-des{
    margin: 0%;
    border-radius: 10px;
    background-color: rgba(45, 37, 160, 0.842);
    color: white;
    text-align: center;
}

/* ----------------------------- 
Games and Features is starts  
-------------------------------- */
.features{
     margin: 40px;
}
.features h2{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
}
.games{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 430px;
    width: 430px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 0px 20px rgb(45, 37, 160); */
}

.game:hover .game-des{
    display: block;
}
.game:hover .game-feature img{
    transform: scale(1.2);
    
}

.game-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    width: 430px;
}

.game-feature img{
    
    width: 100%;
    height: 100%;
    transition: transform 2s;
}

.game-des{
    position: absolute;
    text-align: center;
    width: 430px;
    height: 330px;
    top: 0;
    display: none;
    background-color: rgba(45, 37, 160, 0.432);
}

/*--------------------------
 Footer style  is starts 
---------------------------*/

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 63px;
    margin-top: 100px;
}

footer img{
    width: 483px;
    height: 110px;
}

.icon i{
    background-color: wheat;
    padding: 8px;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 50px;
}

footer p{
    font-size: 18px;
}


/*------------------
For Mobile Screen 
------------------*/

@media only screen and (max-width:668px) {


    /*-------------------
     nav bar style added 
     --------------------*/

    nav{
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        padding: 15px;
    }

    .nav-catagory{
        display: flex;
        flex-direction: column;
    }

    /*-------------------------------
     For Conmebol and Highlight style  
     --------------------------------*/


    .sec-conmebol{
        padding: 0;
        flex-direction: column;
        padding-left: 16px;
    }
    .half-div{
        width: 100%;
        margin-bottom: 15px;
    }
    .half-div h1{
        font-size: 36px;
    }
    .half-div a{
        padding: 6px;
    }
    .half-div img{
        width: 329px;
        height: 259.17px;
        
    }

    /*--------------------------
    Player style  is starts 
    ---------------------------*/

    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }

    /* ----------------------------- 
        Highlight is starts  
    -------------------------------- */

    .highlight-sec{
        margin-left: 15px;
    }

    /* ----------------------------- 
        Upcoming Matches is starts  
    -------------------------------- */
    .upcoming{
        margin: 0%;
    }
    .matches{
        flex-direction: column;
        align-items: center;
    }
    .match{
        width: 320px;
        margin: 10px;
    }

    /* ----------------------------- 
       Games and Features is starts  
    --------------------------------*/

    .games{
        flex-direction: column;
        align-items: center;
    }

}

/*---------------------
  For tablet devices 
 --------------------*/

@media only screen and (min-width:669px) and (max-width:992px) {

    /* heading starts */

    header{
        width: 100%;
    }

    nav{
        padding: 20px;
    }

    /*---------------------
     Conmebol style starts 
     ----------------------*/

    .sec-conmebol{
        padding: 10px;
    }

    .half-div img{
        width: 100%;
        
    }

    /* Players style add */

    .players{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 27px;
    }

    /* upcoming matches is starts */

    .matches{
        flex-direction: column;
        align-items: center;
    }
    .match{
        margin-bottom: 30px;
    }

    /* Games and features is starts */

    .games{
        flex-direction: column;
        align-items: center;
    }
}

