
/*-----------------
Font style added 
------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------
 Conmebol style  is starts 
---------------------------*/


.sec-conmebol{
    display: flex;
    background-color: rgb(45, 37, 160);
    padding: 50px 150px;
}

.half-div{

    width: 50%;
}
.half-div h1{
    font-size: 64px;
    color: white;
}
.half-div h1:hover{

    text-decoration: 3px underline rgb(141, 141, 143);
    
}
.half-div a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 11px 42px;
    border: 44px 168px #E02C6D;
}

.half-div a:hover{
    border: 3px solid rgb(141, 141, 143);
}

.half-div img{
    width: 556px;
    height: 438px;
    
}
.half-div img:hover{
    border: 3px solid rgb(141, 141, 143);
}

/*--------------------------
 Player style  is starts 
---------------------------*/

.sec-players{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.player{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    /* border: 2px solid blue; */
}

.player img{
    width: 300px;
    height: 256px;
}

.hover-single:hover{
    border: 1px solid blue;
}

.hover-together{
    margin-top: 27px;
}

.hover-together:hover{
    border: 1px solid blue;
}

/*--------------------------
 Footer style  is starts 
---------------------------*/

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer img{
    width: 483px;
    height: 110px;
}

.icon i{
    margin-right: 7px;
    margin-left: 7px;
    height: 32px;
    width: 32px;
}

footer p{
    font-size: 18px;
}


/*------------------
For Mobile Screen 
------------------*/

@media only screen and (max-width:668px) {
    .sec-conmebol{
        padding: 0;
        flex-direction: column;
        padding-left: 16px;
    }
    .half-div{
        width: 100%;
        margin-bottom: 15px;
    }
    .half-div h1{
        font-size: 36px;
    }
    .half-div a{
        padding: 6px;
    }
    .half-div img{
        width: 329px;
        height: 259.17px;
        
    }

    /*--------------------------
    Player style  is starts 
    ---------------------------*/

    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }

    


    
}

